/*
@font-face {
  font-family: "Source Code Pro";
  src: url(../fonts/SourceCodePro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Droid Sans Mono";
  src: url(../fonts/DroidSansMono-Regular.ttf) format("truetype");
}
*/

@font-face {
  font-family: "Roboto Mono";
  src: url(../fonts/RobotoMono-Regular.ttf) format("truetype");
}
