body {
  font-family: "Roboto Mono", monospace;
  font-size: 15vw;
  font-weight: bold;
  background-color: black;
  color: white;
}
.fat {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.valign-wrapper {
  align-items: center;
  display: flex;
}
.valign-wrapper > .valign {
  display: block;
}
.center-text {
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.rainbow {
  animation: rainbowAnimation 6s linear 0s infinite;
}
@keyframes rainbowAnimation {
  from {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 255);
  }
  16.6% {
    color: rgb(255, 0, 255);
    background-color: rgb(0, 255, 0);
  }
  33.3% {
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 0);
  }
  50% {
    color: rgb(0, 255, 255);
    background-color: rgb(255, 0, 0);
  }
  66.6% {
    color: rgb(0, 255, 0);
    background-color: rgb(255, 0, 255);
  }
  83.3% {
    color: rgb(255, 255, 0);
    background-color: rgb(0, 0, 255);
  }
  to {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 255);
  }
}
