@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  /*   font-family: "Roboto Mono", monospace; */
  font-family: "Montserrat", sans-serif;
  font-size: 25vw;
  font-weight: bold;
  background-color: black;
  color: #fff9;
}
.fat {
  margin: 0;
  padding: 0;
  text-align: right !important;
}

.fat > span {
  animation: moveAnimation 3000s linear 0s infinite;
  margin-right: 10000px;
  white-space: nowrap;
}

@keyframes moveAnimation {
  0%   {margin-right:100%;}
  50%  {margin-right:0;}
  100% {margin-right:100%;}
}

.valign-wrapper {
  padding: 2rem;
}
.valign-wrapper > .valign {
  display: block;
}
.center-text {
  vertical-align: middle;
  /* margin-left: auto;
  margin-right: auto; */
}
.rainbow {
  animation: rainbowAnimation 6s linear 0s infinite;
}
@keyframes rainbowAnimation {
  from {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 255);
  }
  16.6% {
    color: rgb(255, 0, 255);
    background-color: rgb(0, 255, 0);
  }
  33.3% {
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 0);
  }
  50% {
    color: rgb(0, 255, 255);
    background-color: rgb(255, 0, 0);
  }
  66.6% {
    color: rgb(0, 255, 0);
    background-color: rgb(255, 0, 255);
  }
  83.3% {
    color: rgb(255, 255, 0);
    background-color: rgb(0, 0, 255);
  }
  to {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 255);
  }
}
